PORT=:8080
ENVIRONMENT=development
DB_URL=postgres://user:password@host:port/database
DB_MAX_IDLE_CONNECTIONS=10
DB_MAX_OPEN_CONNECTIONS=10
USERNAME=simone2006
PASSWORD=simone2006
IMAGE_SAVE_PATH=./vars/images
IMAGE_SERVING_PATH=http://localhost:8080/api/v1/public/images