{
    auto_https off
}

:8080 {
    handle /api/v1/menu* {
        uri replace /api/v1/menu /api/v1

        reverse_proxy {$MENU_SERVICE_ADDR} {
            header_up X-Real-IP {remote_host}
            header_up X-Request-Id {uuid}

            health_uri /health
            health_interval 5m
            health_timeout 5s
            health_status 200
            health_fails 3
        }
    }

    handle /api/v1/auth* {
            uri replace /api/v1/auth /api/v1

            reverse_proxy {$AUTH_SERVICE_ADDR} {
                header_up X-Real-IP {remote_host}
                header_up X-Request-Id {uuid}
            }
        }

    handle {
        header Content-Type application/json

        respond ` {
            "code": "ENDPOINT_NOT_FOUND",
            "httpStatus": 404,
            "message": "Endpoint not found.",
            "requestId": " {uuid}"
        }`
    }
}