{
    auto_https off
}

:8080 {
    handle_path /api/v1/menu* {
        rewrite /api/v1{uri}
        reverse_proxy {$MENU_SERVICE_ADDR} {
            header_up X-Real-IP {remote_host}
            header_up X-Request-Id {uuid}

            health_uri /health
            health_interval 30s
            health_timeout 5s
            health_status 200
        }
    }

    handle {
        header Content-Type application/json

        respond `{
            "code": "ENDPOINT_NOT_FOUND",
            "httpStatus": 404,
            "message": "Endpoint not found.",
            "requestId": "{uuid}"
        }`
    }
}