limit_req_zone $binary_remote_addr zone=menu_limit:10m rate=3r/s;

server {
    listen 8080;
    access_log off;
    server_name ${SERVER_NAME};

    location /api/v1/menu {
        limit_req zone=menu_limit burst=5 nodelay;
        limit_req_status 429;
        limit_req_log_level info;

        rewrite ^/api/v1/menu(.*) /api/v1$1 break;
        proxy_pass http://${MENU_SERVICE_ADDR};
    }
}